/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */
.brand{
    font-family: 'Ubuntu', sans-serif; 
    font-size: 40px;
    font-weight: bold;
  margin-top: 2px;
  margin-left: 5px;
}
#myMenu .navItemStyle .nav-link a{
    color:#fff;
    font-size: 1.2em;
    font-weight: bold;
}
#myMenu .navItemStyle .nav-link a:hover{
    text-decoration: none;
    color:#F8DBC9;
  
}
.bannerSizing{
min-height: 80vh;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
border-radius: 0%;
margin-top: 100px;
}
.mainHeader{
    margin-top: 100px;
}

.imgSizing{
    height: 250px;
    width: 250px;
    background-size:cover;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    /* border: rosybrown solid 2px; */
}
.cimg{
    color: rgb(11, 186, 199);
  }
  .aboutStyle{
      font-size: 22px;
      color: rgb(18, 155, 148);
 
  }
  .fa-2x{
      color:aqua;
  }
  .fa-2x:hover{
    color: #17A2B8;
    font-size: 30px;
}
.linkDesign a{
    font-size: 18px;
    color: rgb(17, 188, 194);
}
.linkDesign a:hover{
    font-size: 17px;
   color: aqua;
   text-decoration: none;
}
.adminDesign{
    color:#17A2B8;
}
.adminDesign:hover{
    color: aqua;
    text-decoration:none;
  
  
}


.signup{
    margin:0 15rem;
}